/*Tipografía*/
@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  font-size: clamp(0.3rem, 2vw + 1rem, 0.95rem);
  /* height: 100vh; */
}

/* @media screen and (min-width: 900px) {
  body {
    overflow: hidden;
  }
} */

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* inicio */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}


.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;

}

.gridinicio {
  display: grid;
  height: auto;
}

.gridproyectos {
  display: grid;
  gap: 20px;
  height: 120vh;
  grid-template-columns: 1fr;
}

.gridproyectos div img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* Todo esto es en desktop */
@media screen and (min-width: 600px) {
  .gridproyectos {
    display: grid;
    gap: 0;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gridproyectos.inicio div {
    max-height: 300px;
  }

  .gridproyectos.inicio div img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.proyecto img {
  object-fit: cover;

}

.unionsuave p {
  display: none;
}

.unionsuave:hover p {
  display: inherit;
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
}

.bandidas p {
  display: none;
}

.bandidas:hover p {
  display: inherit;
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
}

.tortillas p {
  display: none;
}

.tortillas:hover p {
  display: inherit;
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
}

.monton p {
  display: none;
}

.monton:hover p {
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
}


.fermenta p {
  display: none;
}

.fermenta:hover p {
  display: inherit;
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;

}

.cuerpoagua p {
  display: none;
}

.cuerpoagua:hover p {
  display: inherit;
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
}

/*cuerpodeagua*/


/*contacto*/
.textoproyecto {
  padding: 20px;
  font-size: 15px;
}

.textocontacto {
  padding: 20px;
}

.noscroll {
  overflow: hidden;
}

.noscroll .gridinicio img {
  object-fit: cover;
}

.gridproyectos {

  height: 100vh;
  place-content: center;
}
