/*Tipografía*/
@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* inicio */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(176, 23, 23);
  text-decoration: underline;
}


.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.gridinicio {
  display: grid;
  height: auto;
}

.gridproyectos {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.proyecto img {
  object-fit: cover;

}

.unionsuave p {
  display: none;
}

.unionsuave:hover p {
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  text-decoration: underline;
}

.bandidas p {
  display: none;
}

.bandidas:hover p {
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  text-decoration: underline;
}

.tortillas p {
  display: none;
}

.tortillas:hover p {
  display: inherit;
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: azure;
  font-weight: bold;
  font-size: 20px;
}

.monton p {
  display: none;
}

.monton:hover p {
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  background-color: azure;
  font-weight: bold;
  font-size: 20px;
}


.fermenta p {
  display: none;
}

.fermenta:hover p {
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  text-decoration: underline;
}

.chucho p {
  display: none;
}

.chucho:hover p {
  display: inherit;
  display: grid;
  position: absolute;
  justify-content: center;
  text-decoration: underline;
}
